
<!-- 引入高德地图相关文件（必须在前面加载） -->
{% if is_amap_chart %}
<script type="text/javascript" src="{{ amap_js_path }}"></script>
<script type="text/javascript" src="{{ amap_map_js_path }}"></script>
{% endif %}

<script>
    require.config({
        paths: {
            'echarts': '{{ echarts_js_path.replace('.js', '') }}'{% if use_echarts_gl %}, 'echarts-gl': '{{ echarts_gl_js_path.replace('.js', '') }}'{% endif %}{% if use_echarts_wordcloud %}, 'echarts-wordcloud': '{{ echarts_wordcloud_js_path.replace('.js', '') }}'{% endif %}{% if map_url %}, '{{ map_name }}': '{{ map_url.replace('.js', '') }}'{% endif %}
        }
    });
</script>

    <div id="{{ chart_id }}" style="width:{{ width }}; height:{{ height }};"></div>

<script>
        require([
            'echarts'{% if use_echarts_gl %}, 'echarts-gl'{% endif %}{% if use_echarts_wordcloud %}, 'echarts-wordcloud'{% endif %}{% if map_url %}, '{{ map_name }}'{% endif %}
        ], function(echarts) {
                var chart_{{ chart_id }} = echarts.init(
                    document.getElementById('{{ chart_id }}'), '{{ theme }}', {renderer: '{{ renderer }}', locale: 'ZH'});
                var option_{{ chart_id }} = {{ option|safe }};
                chart_{{ chart_id }}.setOption(option_{{ chart_id }});
                
                // 高德地图扩展组件初始化（仅在使用高德地图时执行）
                {% if is_amap_chart %}
                var amapComponent = chart_{{ chart_id }}.getModel().getComponent('amap');
                var amap = amapComponent.getAMap();
                amap.addControl(new AMap.Scale());
                amap.addControl(new AMap.ToolBar());
                amapComponent.setEChartsLayerInteractive(true);
                {% endif %}
        });
    </script>
